<%- include layouts/headers.ejs %>
  
  <div class="container-fluid px-5 my-5 mx-1">
    <div class="jumbotron bg-whitw mb-1 my-3 border border-primary rounded-top">
      <h1 class="display-4 text-dark">HACIENDA SANTA CRUZ</h1>
      <p class="lead ">Somos una marca de produccion de carnes, estos son nuestros canales de contacto...</p>
      <hr class="my-3">
      <H2>Canales de contacto</H2>
      <a href="https://api.whatsapp.com/send?phone=+573112261114&text=Hello"> <img height="50" src="https://1000marcas.net/wp-content/uploads/2019/11/WhatsApp-logo.jpg" class="col-sm-1 mr-sm-0 mb-0"><h5>whatsapp</h5></a>
    </div><br/>

  </div>

    <%- include layouts/footer.ejs %>