<%- include layouts/headers.ejs %>
    <div class="container-fluid p-3 my-2 mx-0">
      <div class="jumbotron bg-info mb-1 my-3">
        <h1 class="display-4 text-dark">HACIENDA SANTA CRUZ</h1>
        <p class="lead">En esta pagina encontraras nuestros mejores ejemplares y toda la informacion de cria y datos tecnicos...</p>
        <hr class="my-4">
        <H2>QUIENES SOMOS Y COMO LO HACEMOS</H2> <br/>
        <p>somos una empresa dedicada a la produccion y comercializacion de carne, producimos las mejores crias bajo un starndar de calidad sostenible.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer mas</a>
      </div><br/>

    </div>

    <%- include layouts/footer.ejs %>
    